@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    background-color: rgb(52 173 203);
}

nav a {
    padding: 50px;
    color: white;
}


nav a:hover {
    color: black;

}

p.titulo {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 10vw;
    margin-top: 0vw;
    font: bold 1.5em 'Courier New', Courier, monospace;
}

 main {
    background-color: rgb(206, 206, 206);
}

 section.imagem {
    background-image: url('../imagens/trilha-2.0.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    width: 67vh;
}

section.imagem2 {
    background-image: url('../imagens/trekking.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 100vh;
    width: 67vh;
}

section#img {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

p {
    display: flex;
    font-size: 2em;
    position: absolute;
    left: 640px;
    width: 500px;
    line-height: 1.4;
    text-align: justify;
    margin-top: 40px;

}